<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/stylesheets/listView.css" />
    </head>
    <body>
        <div class="big-wrapper">
            <div class="sidebar">
                {{>searchBar}}
            </div>
            <div class="category-wrapper">
                <h1>Las Vegas listview</h1>
                <h3>{{title}}<h3>
                <form action="/categ/{{title}}" >
                    <button type=submit name="gallery" value="gallery">Gallery</button>
                    <button type=submit name="list" value="list">List</button>
                    <button type=submit name="thumb" value="thumb">Thumbnail</button>
                </form>
                <div class="cat-container">
                    {{#listings}}
                        <div class="list-item-container-listView">
                            <a href="/listing/{{desc}}/{{listing_id}}"><h1 class="cat-title">{{desc}}</h1></a>
                            <div class="content-container-listView">
                                {{#price}}<p>${{price}}</p>{{/price}}
                                {{#time}}<p>{{time}}</p>{{/time}}
                                <p class="cat-content-listView">{{cont}}</p>
                            </div>
                        </div>
                    {{/listings}}
                </div>
            </div>
            <div class="sidebar-right">
                {{>sortBar}}
            </div>
        </div>
        <script type="text/javascript" href="/javascripts/scripts.js"></script> 
    </body>
</html>