<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <div class="big-wrapper">
            <div class="sidebar">
                {{>searchBar}}
            </div>
            <div class="category-wrapper">
                <h1>Las Vegas</h1>
                <div class="list-container">
                    {{#categories}}
                        <div class="list-item">
                                {{! change slug to id }}
                            <a href="{{slug}}/gallery"><li class="item-title">{{title}}</li></a>
                            <ul>
                                {{#subcats}}
                                    <a href="{{slug}}/gallery"><li class="item-subtitle">{{title}}</li></a>
                                {{/subcats}}
                            </ul>
                        </div>
                    {{/categories}}
                </div>
            </div>
            <div class="sidebar-right">
                {{>sortBar}}
            </div>
        </div>
        <script type="text/javascript" href="/javascripts/scripts.js"></script> 
    </body>
</html>