<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
  </head>
  <body>
    <ul>LAS VEGAS
        {{#categories}}
            <li>{{title}}</li>
            <ul>
                {{#subcats}}
                    <li>{{title}}</li>
                {{/subcats}}
            </ul>
        {{/categories}}
    </ul>
  </body>
</html>