<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{description}}</title>
        <link rel="stylesheet" href="/stylesheets/listing.css" />
    </head>
    <body>
        <div class="big-wrapper">
            <div class="sidebar">
                {{>searchBar}}
            </div>
            <div class="listing-wrapper">
                <h1>{{description}}</h1>
                <span class="price">Asking Price: ${{list_price}}</span>
                <span></span>
                {{#image_filename}}<img src="/uploads/{{image_filename}}"/>{{/image_filename}}
                <p>Description:<br>
                {{content}}</p>
            </div>
            <div class="sidebar-right">
                {{>sortBar}}
            </div>
        </div>
        <script type="text/javascript" href="/javascripts/scripts.js"></script> 
    </body>
</html>