<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/stylesheets/login.css" />
    </head>
    <body>
        <div class="big-wrapper">
            <div class="sidebar">
                {{>searchBar}}
            </div>
            <div class="login-wrapper">
                <h1>{{title}}</h1>
                {{#error}}<p class="error-message">{{error}}</p>{{/error}}
                {{^error}}<p>Dont have an account? Register below!</p>{{/error}}
                <form action="/login" method="POST" class="login-form">
                    <fieldset>
                    <legend>Login</legend>
                    <input type="text" name="username" placeholder="Username" class="input"/><br />
                    <input type="password" name="password" placeholder="Password" class="input"/><br />
                    <button type="submit">Login</button>
                    </fieldset>
                </form>
                <form action="/register" method="POST" class="register-form">
                    <fieldset>
                    <legend>Register</legend>
                    <input type="text" name="username" placeholder="Username" class="input"/><br />
                    <input type="password" name="password" placeholder="Password" class="input"/><br />
                    <input type="password" name="confirmpassword" placeholder="Confirm password" class="input"/><br />
                    <button type="submit">Register</button> 
                    </fieldset>
                </form>
            </div>
            <div class="sidebar-right">
                {{>sortBar}}
            </div>
        </div>
        <script type="text/javascript" href="/javascripts/scripts.js"></script> 
    </body>
</html>