<div>
    <a href="/"><h1>RyansList</h1></a>
    <a href="/createpost">post to classifieds</a> 
    <a href="/account">my account</a>
    <form action="" method="GET">
        <input type="text" placeholder="Search RyansList"/>
        <button type="submit hidden" id="searchBtn"></button>
    </form> 
</div>