<div>
    <h1>RyansList</h1>
    <a href="#">post to classifieds</a>
    <a href="#">my account</a>
    <form action="" method="GET">
        <input type=text />
        <button type="submit hidden" id="searchBtn"></button>
    </form> 
</div>