<div>
    <a href="/" class="logo"><h1>RyansList</h1></a>
    {{#user}}<h3>Welcome, {{user}}!</h3>{{/user}}
    <a href="/createpost">post to classifieds</a> 
    <a href="/account">my account</a>
    <a href="/logout">logout</a>
    <form action="" method="GET">
        <input type="text" placeholder="Search RyansList" class="site-searchbar"/>
        <button type="submit hidden" id="searchBtn"></button>
    </form> 
</div>