<div class="sort-bar">
<select type="select">
    <option>USA</option>
    <option>Las Vegas</option>
    <option>Reno</option>
    <option>Boulder City</option>
</select>
<ul class="city-list">
    <li class="city-list-item">city</li>
    <li class="city-list-item">city</li>
    <li class="city-list-item">city</li>
    <li class="city-list-item">city</li>
    <li class="city-list-item">city</li>
    <li class="city-list-item">city</li>
    <li class="city-list-item">city</li>
    <li class="city-list-item">city</li>
    <li class="city-list-item">city</li>
    <li class="city-list-item">city</li>
    <li class="city-list-item">city</li>
    <li class="city-list-item">city</li>
    <li class="city-list-item">city</li>
    <li class="city-list-item">city</li>
    <li class="city-list-item">city</li>
    <li class="city-list-item">city</li>
    <li class="city-list-item">city</li>
    <li class="city-list-item">city</li>
    <li class="city-list-item">city</li>
    <li class="city-list-item">city</li>
    <li class="city-list-item">city</li>
    <li class="city-list-item">city</li>
    <li class="city-list-item">city</li>
    <li class="city-list-item">city</li>
</ul>
</div>